.todo-head{
    display: flex;
    gap: 1rem;
}

.todo-title{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    justify-content: center;
    display: flex;
}

.todo-list-container{
    display: flex;
    margin-top: 2rem;
    background-color: aqua;
    height: 3rem;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}

